<div class="ideas">
<% @ideas.each do |idea| %>
  <div id="<%= idea.id %>" class="idea" data-quality="<%= idea.quality %>">
    <div class="row idea-header">
      <div class="col-xs-12">
        <span class="delete-idea pointer">x</span>
        <div class="float-right row">
          <div class="col-xs-12 upvote-div">
            <div class="upvote pointer">+</div>
          </div>
        </div>
        <br>
        <div class="float-right row">
          <div class="col-xs-12 downvote-div">
            <div class="downvote pointer">-</div>
          </div>
        </div><br>
        <span class="title pointer"><%= idea.title %></span><span class="quality light">(<%= idea.quality %>)</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="body pointer"><%= idea.body %></p>
      </div>
    </div>
  </div>
<% end %>
</div>
